     <div class="screen-overlay"></div>

 <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            
                <h3 class="content-title card-title hotel-name" style="font-size: 24px; /* Adjust the font size as needed */
  color: #333; ">Admin Panel</h3>
               <div class="col-md-6">
           <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
              width="150px"
              src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span
              class="font-weight-bold"></span><span class="text-black-50"></span><span>
            </span></div> 
        </div>
      
          
        </div>
        <nav>
            <ul class="menu-aside">
                <li>
                    <a class="menu-link" href="dashboard">          <i class="icon material-icons md-home"></i>

                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a class="menu-link" href="hotels"> <i class="icon material-icons md-hotel"></i>
                        <span class="text">Hotels</span>
                    </a>
                    {{!-- <div class="submenu">
                        <a href="hotels">Hotel List </a>         
                    </div> --}}
                </li>
                <li>
                    <a class="menu-link" href="customers">           <i class="icon material-icons md-person"></i>

                        <span class="text">Customers</span>
                    </a>         
                </li>
                  
                <li>
                    <a class="menu-link" href="transactions"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Transactions</span>
                    </a>
                </li>
            </ul>
            <hr>
           
            <br>
            <br>
        </nav>
    </aside>