     <div class="screen-overlay"></div>

 <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="assets/imgs/theme/logo.svg" class="logo" alt="ADMIN PANEL">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li>
                    <a class="menu-link" href="dashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a class="menu-link" href="hotels"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Hotels</span>
                    </a>
                    {{!-- <div class="submenu">
                        <a href="hotels">Hotel List </a>         
                    </div> --}}
                </li>
                <li>
                    <a class="menu-link" href="customers"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Customers</span>
                    </a>         
                </li>
                  
                <li>
                    <a class="menu-link" href="transactions"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Transactions</span>
                    </a>
                </li>
            </ul>
            <hr>
           
            <br>
            <br>
        </nav>
    </aside>