     <div class="screen-overlay"></div>

 <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
      <h3 class="content-title card-title hotel-name" style="font-size: 24px; /* Adjust the font size as needed */
  color: #333; ">Admin Panel</h3>
          
        </div>
        <nav>
            <ul class="menu-aside">
                <li>
                    <a class="menu-link" href="dashboard">          <i class="icon material-icons md-home"></i>

                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a class="menu-link" href="hotels"> <i class="icon material-icons md-hotel"></i>
                        <span class="text">Hotels</span>
                    </a>
                    {{!-- <div class="submenu">
                        <a href="hotels">Hotel List </a>         
                    </div> --}}
                </li>
                <li>
                    <a class="menu-link" href="customers">           <i class="icon material-icons md-person"></i>

                        <span class="text">Customers</span>
                    </a>         
                </li>
                  
                <li>
                    <a class="menu-link" href="transactions"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Transactions</span>
                    </a>
                </li>
            </ul>
            <hr>
           
            <br>
            <br>
        </nav>
    </aside>