{{hotel}}

<div class="screen-overlay"></div>
<aside class="navbar-aside" id="offcanvas_aside">
  <div class="aside-top">

    <a href="index.html" class="brand-wrap">
      <h3 class="content-title card-title hotel-name" style="font-size: 24px; /* Adjust the font size as needed */
  color: #333; ">{{hotel.name}}</h3>

      <img
        src="/images/sign-images/{{hotel.Image}}"
        class="logo"
        style="margin-top: 5px;"
        alt="{{hotel.name}}"
      />

    </a>
    {{! <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div> }}
  </div>
  <nav>
    <ul class="menu-aside">
      <li>
        <a class="menu-link" href="hoteldashboard">
          <i class="icon material-icons md-home"></i>
          <span class="text">Dashboard</span>
        </a>
      </li>

      <li>
        <a class="menu-link" href="customers">
          <i class="icon material-icons md-person"></i>
          <span class="text">Customers</span>
        </a>
        {{!-- <div class="submenu">
          <a href="page-orders-2.html">customers deatils</a>
        </div> --}}
      </li>

      <li>
        <a class="menu-link" href="rooms">
          <i class="icon material-icons md-local_hotel"></i>
          <span class="text">Rooms</span>
        </a>
      </li>

      <li>
        <a class="menu-link" href="facilities">
          <i class="icon material-icons md-spa"></i>
          <span class="text">Facilities</span>
        </a>
      </li>

      <li>
        <a class="menu-link" href="transactions">
          <i class="icon material-icons md-monetization_on"></i>
          <span class="text">Transactions</span>
        </a>
      </li>

      <li>
        <a class="menu-link" href="logout">
          <i class="icon material-icons md-exit_to_app"></i>
          <span class="text">logout</span>
        </a>
      </li>

    </ul>
    <br />
    <br />
  </nav>
</aside>