<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-account-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:33 GMT -->
<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/adminAssets/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/assets/adminAssets/assets/css/main.css" rel="stylesheet" type="text/css" />

    <script src="/assets/adminAssets/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/assets/adminAssets/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/assets/adminAssets/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/assets/adminAssets/assets/js/main.js" type="text/javascript"></script>
</head>

<body>
    <main>
        <section class="content-main mt-80 mb-80">
            <div class="card mx-auto card-login">
{{!-- 
                {{#if (signupSuccess) }}
                    <div class="alert alert-success" role="alert">
                    Signup successful! You can now login.
                    </div>
                {{/if}} --}}
                  
                {{!-- <div class="card-body">
                    <h4 class="card-title mb-4">Booking Form</h4>
                    <form action="/signup" method="post" name="form">
                    <!-- user/signupPage.ejs or your relevant view file -->


                        <!-- The rest of your signup page content -->

                    <div class="mb-3">
                            <label class="form-label">Customer Name</label>
                            <input class="form-control" name="name" placeholder="Your name" type="text">
                        </div> 
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input class="form-control" name="email" placeholder="Your email" type="text">
                        </div> <!-- form-group// -->
                        <div class="check-date">
                                <label for="date-in">Check In:</label>
                                <input type="text" class="date-input" id="date-in">
                                <i class="icon_calendar"></i>
                            </div><!-- form-group// -->
                        <div class="check-date">
                                <label for="date-out">Check Out:</label>
                                <input type="text" class="date-input" id="date-out">
                                <i class="icon_calendar"></i>
                            </div>
                        
                        <div class="mb-4">
                            <button type="submit" class="btn btn-primary w-100"> submit </button>
                        </div> <!-- form-group// -->
                    </form> --}}

        
                    <div class="room-booking">
                    <h4 class="card-title mb-4">Booking</h4>
                        <form action="/bookingroom" method="post" name="form">
                            <div class="check-date">
                                <label for="date-in">Username</label>
                                <input name="name" type="text" >
                            </div>
                            <div class="check-date">
                                <label for="date-in">Email</label>
                                <input name="email" type="text" >
                            </div>
                            <div class="check-date">
                                <label for="date-in">Check In:</label>
                                <input type="text" name="checkin" class="date-input" id="date-in">
                                <i class="icon_calendar"></i>
                            </div>
                            <div class="check-date">
                                <label for="date-out">Check Out:</label>
                                <input type="text" name="checkout" class="date-input" id="date-out">
                                <i class="icon_calendar"></i>
                            </div>
                            <button type="submit">Submit</button>
                        </form>
                    </div>
            </div>
        </section>
        
    </main>
    <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="assets/js/main.js" type="text/javascript"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-account-register.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:33 GMT -->
</html>