<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>


   

    <form method="post" action="/changepassword" id="changepassword">
                      <div class="modal-body m-4">
                        <input type="text" name="password" id="inputPassword5" class="form-control "
                          aria-describedby="passwordHelpBlock" placeholder="Enter the current password">

                        <input type="text" name="newpassword" id="inputPassword5" class="form-control mt-4"
                          aria-describedby="passwordHelpBlock" placeholder="Enter the new password">
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                          <input type="submit" class="btn btn-primary" value="update">
                        </div>
                    </form>
  </body>
</html>