<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>



  <div class="site-wrap">

    <div class="container rounded bg-white" style="margin-top: 3%;">

      <div class="row" style="background-color:white">
        <div class="col-md-6">
           <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
              width="150px"
              src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span
              class="font-weight-bold"></span><span class="text-black-50"></span><span>
            </span></div> 
        </div>

        <div class="col-md-6">
          <div class="p-3 py-5">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h4 class="text-right">Change Password</h4>
            </div>


    <form method="post" action="/changepassword" id="changepassword">
               <div class="modal-body m-4">
                        <input type="text" name="password" id="inputPassword5" class="form-control "
                          aria-describedby="passwordHelpBlock" placeholder="Enter the current password">

                        <input type="text" name="newpassword" id="inputPassword5" class="form-control mt-4"
                          aria-describedby="passwordHelpBlock" placeholder="Enter the new password">
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><a href="/userprofile">Cancel</a></button>
                          <input type="submit" class="btn btn-primary" value="update">
                        </div>
        </div>
    </form>
   



                     
  </body>
</html>