<!DOCTYPE html>
<html>
<head>
	<title>OTP in JS</title>
	<link rel="stylesheet" href="emailotp.css">
	<script src="https://smtpjs.com/v3/smtp.js"></script>
    <style>


* {
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
}
body {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	height: 100vh;
}
.form {
	width: 500px;
	background-color: #eeeeee;
	padding: 0 30px;
	display: grid;
	gap: 20px;
	padding-bottom: 30px;
}
input {
	width: 100%;
	padding: 10px;
}
.otpverify {
	width: 100%;
	display: flex;
	gap: 20px;
}
.btn {
	padding: 10px;
	background-color: #82eec1;
	outline: none;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	width: 150px;
}
.otpverify{
	display: none;
}


    </style>
</head>
<body>
	<div class="form">
		<form action="/otpLoginuser" method="post" class="login100-form validate-form">
					<span class="login100-form-title">
						OTP Login
					</span>

					<div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
						<input class="input100" type="number" name="phone" placeholder="Mobile">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-mobile" aria-hidden="true"></i>
						</span>

					</div>

					<div class="container-login100-form-btn">
						<button type="submit" class="login100-form-btn">Send OTP

						</button>
					</div>

				</form>
	</div>
</body>
</html>