{{!-- <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<style>

* {
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
}
body {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	height: 100vh;
}
.form {
	width: 500px;
	background-color: #eeeeee;
	padding: 0 30px;
	display: grid;
	gap: 20px;
	padding-bottom: 30px;
}
input {
	width: 100%;
	padding: 10px;
}
.otpverify {
	width: 100%;
	display: flex;
	gap: 20px;
}
.btn {
	padding: 10px;
	background-color: #82eec1;
	outline: none;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	width: 150px;
}
.otpverify{
	display: none;
}

	</style>
	
</head>
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					{{!-- <img src="/assets/loggin/images/img-01.png" alt="IMG"> --}}
				</div>

				<form action="/otpLogin" method="post" class="login100-form validate-form">
					<span class="login100-form-title">
						OTP Login
					</span>

					<input type="email" id="email" placeholder="Enter Email...">
		<div class="otpverify">
			<input type="text" name="email" placeholder="Enter the OTP sent to your Email...">
			<button class="btn" id="otp-btn">Verify</button>
		</div>

					<div class="container-login100-form-btn">
						<button type="submit" class="login100-form-btn">Send OTP

						</button>
					</div>

				</form>
			</div>
		</div>
	</div>

</body>
</html> --}}