  <!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:35 GMT -->
<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/assets/adminAssets/assets/css/main.css" rel="stylesheet" type="text/css" />

</head> 

     <body>
    
        {{>hotel-sidebar}}



        {{>hotel-navbar}}
 
 
 <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">All Facilities </h2>
                </div>
                <div>
                    <a href="/hotel/addfacilities" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Add Facilities</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="card mb-4">
                        <header class="card-header">
                            
                        </header> 
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Facilities</th>
                                            <th scope="col">Image</th>
                                            <th scope="col" style="padding-left:40px">Action </th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {{#each facilitiesdata}}

                                        <tr>
                                            <td><b>{{this.Facilities}}</b></td>
                                            <td>        
                                                 <img style="width: 50px; height:50px" src="/images/sign-images/{{this.Image}}" alt="">
                                            </td>
                                           
                                    <td>
                                    <form action="/hotel/editfacility/{{this._id}}" method="get" style="display:inline;">
                                    <button
                                        type="submit"
                                        class="btn btn-success"
                                        data-toggle="modal"
                                        data-target="#exampleModalCenter"
                                    >
                                        Edit
                                    </button>
                                    </form>
                                    
                                    <form action="/hotel/deleted/{{this._id}}" method="post" style="display:inline;">
                                    <button
                                        type="submit"
                                        class="btn btn-danger"
                                        data-toggle="modal"
                                        data-target="#exampleModalCenter"
                                    >
                                        Delete
                                    </button>
                                    </form>
                                    </td>
                                        </tr>
                                        {{/each}}

                                    </tbody>

                                    </section> 
        
    </main>
    <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vendors/select2.min.js"></script>
    <script src="assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="assets/js/main.js" type="text/javascript"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-orders-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:22 GMT -->
</html>