 <!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:35 GMT -->
<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/assets/adminAssets/assets/css/main.css" rel="stylesheet" type="text/css" />

</head> 

     <body>
    
        {{>hotel-sidebar}}



        {{>hotel-navbar}}
 
 
 
 
 
  <section class="content-main">
            <div class="content-header">
                <h2 class="content-title">Transactions </h2>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-9">
                            <header class="border-bottom mb-4 pb-4">
                                <div class="row">
                                    <div class="col-lg-5 col-6 me-auto">
                                        <input type="text" placeholder="Search..." class="form-control">
                                    </div>
                                    <div class="col-lg-2 col-6">
                                        <select class="form-select">
                                            <option>Method</option>
                                            <option>Master card</option>
                                            <option>Visa card</option>
                                            <option>Paypal</option>
                                        </select>
                                    </div>
                                </div>
                            </header> <!-- card-header end// -->
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Transaction ID</th>
                                            <th>Paid</th>
                                            <th>Method</th>
                                            <th>Date</th>
                                            <th class="text-end"> Action </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><b>#456667</b></td>
                                            <td>$294.00</td>
                                            <td>
                                                <div class="icontext">
                                                    <img class="icon border" src="assets/imgs/card-brands/1.png" alt="Payment">
                                                    <span class="text text-muted">Amex</span>
                                                </div>
                                            </td>
                                            <td>16.12.2020, 14:21</td>
                                            <td class="text-end">
                                                <a href="#" class="btn btn-sm btn-light font-sm rounded">Details</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>#134768</b></td>
                                            <td>$294.00</td>
                                            <td>
                                                <div class="icontext">
                                                    <img class="icon border" src="assets/imgs/card-brands/2.png" alt="Payment">
                                                    <span class="text text-muted">Master card</span>
                                                </div>
                                            </td>
                                            <td>16.12.2020, 14:21</td>
                                            <td class="text-end">
                                                <a href="#" class="btn btn-sm btn-light font-sm rounded">Details</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>#134768</b></td>
                                            <td>$294.00</td>
                                            <td>
                                                <div class="icontext">
                                                    <img class="icon border" src="assets/imgs/card-brands/3.png" alt="Payment">
                                                    <span class="text text-muted">Paypal</span>
                                                </div>
                                            </td>
                                            <td>16.12.2020, 14:21</td>
                                            <td class="text-end">
                                                <a href="#" class="btn btn-sm btn-light font-sm rounded">Details</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>#134768</b></td>
                                            <td>$294.00</td>
                                            <td>
                                                <div class="icontext">
                                                    <img class="icon border" src="assets/imgs/card-brands/4.png" alt="Payment">
                                                    <span class="text text-muted">Visa</span>
                                                </div>
                                            </td>
                                            <td>16.12.2020, 14:21</td>
                                            <td class="text-end">
                                                <a href="#" class="btn btn-sm btn-light font-sm rounded">Details</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>#887780</b></td>
                                            <td>$294.00</td>
                                            <td>
                                                <div class="icontext">
                                                    <img class="icon border" src="assets/imgs/card-brands/4.png" alt="Payment">
                                                    <span class="text text-muted">Visa</span>
                                                </div>
                                            </td>
                                            <td>16.12.2020, 14:21</td>
                                            <td class="text-end">
                                                <a href="#" class="btn btn-sm btn-light font-sm rounded">Details</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>#344556</b></td>
                                            <td>$294.00</td>
                                            <td>
                                                <div class="icontext">
                                                    <img class="icon border" src="assets/imgs/card-brands/4.png" alt="Payment">
                                                    <span class="text text-muted">Visa</span>
                                                </div>
                                            </td>
                                            <td>16.12.2020, 14:21</td>
                                            <td class="text-end">
                                                <a href="#" class="btn btn-sm btn-light font-sm rounded">Details</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>#134768</b></td>
                                            <td>$294.00</td>
                                            <td>
                                                <div class="icontext">
                                                    <img class="icon border" src="assets/imgs/card-brands/2.png" alt="Payment">
                                                    <span class="text text-muted">Master card</span>
                                                </div>
                                            </td>
                                            <td>16.12.2020, 14:21</td>
                                            <td class="text-end">
                                                <a href="#" class="btn btn-sm btn-light font-sm rounded">Details</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>#134768</b></td>
                                            <td>$294.00</td>
                                            <td>
                                                <div class="icontext">
                                                    <img class="icon border" src="assets/imgs/card-brands/2.png" alt="Payment">
                                                    <span class="text text-muted">Master card</span>
                                                </div>
                                            </td>
                                            <td>16.12.2020, 14:21</td>
                                            <td class="text-end">
                                                <a href="#" class="btn btn-sm btn-light font-sm rounded">Details</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>#998784</b></td>
                                            <td>$294.00</td>
                                            <td>
                                                <div class="icontext">
                                                    <img class="icon border" src="assets/imgs/card-brands/3.png" alt="Payment">
                                                    <span class="text text-muted">Paypal</span>
                                                </div>
                                            </td>
                                            <td>16.12.2020, 14:21</td>
                                            <td class="text-end">
                                                <a href="#" class="btn btn-sm btn-light font-sm rounded">Details</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>#556667</b></td>
                                            <td>$294.00</td>
                                            <td>
                                                <div class="icontext">
                                                    <img class="icon border" src="assets/imgs/card-brands/3.png" alt="Payment">
                                                    <span class="text text-muted">Paypal</span>
                                                </div>
                                            </td>
                                            <td>16.12.2020, 14:21</td>
                                            <td class="text-end">
                                                <a href="#" class="btn btn-sm btn-light font-sm rounded">Details</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>#098989</b></td>
                                            <td>$294.00</td>
                                            <td>
                                                <div class="icontext">
                                                    <img class="icon border" src="assets/imgs/card-brands/3.png" alt="Payment">
                                                    <span class="text text-muted">Paypal</span>
                                                </div>
                                            </td>
                                            <td>16.12.2020, 14:21</td>
                                            <td class="text-end">
                                                <a href="#" class="btn btn-sm btn-light font-sm rounded">Details</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>#134768</b></td>
                                            <td>$294.00</td>
                                            <td>
                                                <div class="icontext">
                                                    <img class="icon border" src="assets/imgs/card-brands/4.png" alt="Payment">
                                                    <span class="text text-muted">Visa</span>
                                                </div>
                                            </td>
                                            <td>16.12.2020, 14:21</td>
                                            <td class="text-end">
                                                <a href="#" class="btn btn-sm btn-light font-sm rounded">Details</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> <!-- table-responsive.// -->
                        </div> <!-- col end// -->
                        <aside class="col-lg-3">
                            <div class="box bg-light" style="min-height:80%">
                                <p class="text-center text-muted my-5">Please select transaction <br> to see details</p>
                            </div>
                        </aside> <!-- col end// -->
                    </div> <!-- row end// -->
                </div> <!-- card-body // -->
            </div> <!-- card end// -->
            <div class="pagination-area mt-30 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </section>
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vendors/select2.min.js"></script>
    <script src="assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="assets/js/main.js" type="text/javascript"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-transactions-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:33 GMT -->
</html>