{{!-- {{#if User}} --}}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Sona Template">
    <meta name="keywords" content="Sona, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sona | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/assets/userAssets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/userAssets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/userAssets/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/assets/userAssets/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="/assets/userAssets/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/userAssets/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/assets/userAssets/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/userAssets/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/assets/userAssets/css/slicknav.min.css" type="text/css">
    {{!-- <link rel="stylesheet" href="css/style.css" type="text/css"> --}}
    <link rel="stylesheet" href="/assets/userAssets/css/style.css" type="text/css">

</head>

<body>
    
    {{{body}}}
     <script src="/assets/userAssets/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/userAssets/js/bootstrap.min.js"></script>
    <script src="/assets/userAssets/js/jquery.magnific-popup.min.js"></script>
    <script src="/assets/userAssets/js/jquery.nice-select.min.js"></script>
    <script src="/assets/userAssets/js/jquery-ui.min.js"></script>
    <script src="/assets/userAssets/js/jquery.slicknav.js"></script>
    <script src="/assets/userAssets/js/owl.carousel.min.js"></script>
    <script src="/assets/userAssets/js/main.js"></script>
</body>

   
</html>
{{!-- {{else}} --}}

{{!-- {{/if}} --}}
